.catalog-preview {
  margin-top: 8px;
  margin-bottom: 70px;

  .catalog-descpription {
    > h1 {
      border-top: 1px solid $gray-secondary;
      margin-bottom: 21px;
    }
  }

  &.flex-layout {
    .product-tiles {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: space-between;

      & > .product-tile {
        flex-basis: 48.366013%;
      }

      @include media-breakpoint-up('lg') {
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;

        & > .product-tile {
          flex-basis: 27.429467%;
        }
      }
    }
  }
}
